#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.component {
    padding: 30px;
    border-radius: 20px;
    font-weight: bold;

    &.red {
        background: #d13852;
    }

    &.blue {
        background: #42b9f5;
    }

    &.purple {
        background: #8a38d1;
    }
}
