#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.component__cont {
    height: 84px;
    position: relative;
}

.component {
    padding: 30px;
    border-radius: 20px;
    font-weight: bold;

    &.absolute {
        position: absolute;
        width: 100%;
    }

    &.red {
        background: #d13852;
    }

    &.blue {
        background: #42b9f5;
    }

    &.purple {
        background: #8a38d1;
    }
}

.layout-component__cont {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;

    &.active {
        justify-content: flex-start;
    }
}

.layout-component {
    background: #d13852;
    width: 50%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;

    &.active {
        background: #2dba78;
    }
}
